<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1><%= meeti.title %></h1>
            <div class="info-autor">
                <div class="imagen">
                    <% if (meeti.user.image) { %>
                        <img src="/uploads/profiles/<%= meeti.user.image %>" alt="<%= meeti.title %>">  
                    <% } %>
                </div>
                <div class="informacion">
                    <p>Hosted by</p>
                    <p class="autor">
                        <a href="/users/<%= meeti.user.id %>"><%= meeti.user.name %></a> Creator of 
                        <a href="/groups/<%= meeti.group.id %>"><%= meeti.group.name %></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="pregunta-asistencia">
            <% const exist = meeti.interested.includes(user.id) %>
            <% if (user.id) { %>
                <form action="/rsvp/<%= meeti.slug %>" id="rsvp">
                    <p>Will you attend?</p>
                    <% if( exist ) {  %>
                        <input type="hidden" id="act" value="cancel">
                        <input type="submit" value="Cancel" class="btn btn-rojo">
                    <% } else { %>
                        <input type="hidden" id="act" value="confirm">
                        <input type="submit" class="btn btn-azul" value="Yes">
                    <% } %>
                    <div id="message"></div>
                </form> 
            <% } else { %>
                <p>Please log in to confirm your attendance</p>
            <% } %>
        </div>
    </div>
</div>
<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <img src="/uploads/groups/<%= meeti.group.image %>" alt="">
                <%- meeti.description %>
            </div>
            <div class="asistentes">
                <div class="titulo">
                    <h3><%= meeti.interested.length %> Attendees</h3>
                    <a href="/attendees/<%= meeti.slug %>">View All</a>
                </div>
            </div>
            <div class="comentarios">
                <h2>Comments</h2>
                <% if(comments.length > 0){ %>
                    <% comments.forEach(comment => { %>
                        <div class="comentario">
                            <div class="imagen">
                                <% if (comment.user.image) { %>
                                    <img src="/uploads/profiles/<%= comment.user.image %>" alt="">
                                <% } %>
                            </div>
                            <div class="texto">
                                <p><%= comment.message %></p>
                                <p>Written by: <a href="/users/<%= comment.user.id %>">
                                    <span><%= comment.user.name %></span>
                                </a></p>
                                <% if(comment.userId === user.id || meeti.userId === user.id){ %>
                                    <form action="/comment/delete" method="POST" class="eliminar-comentario">
                                        <input type="hidden" name="commentId" value="<%= comment.id %>">
                                        <input type="submit" value="Delete" class="btn btn-azul">

                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                    
                <% } else { %>
                    <p>There are no comments yet</p>
                <% } %>
                
                <!-- COMMENTS FORM -->
                <% if(user.id){ %>
                    <form action="/meetis/<%= meeti.id %>" method="POST" class="default-form comentarios">
                        <legend>Add a Comment</legend>
                        <div class="campo">
                            <label for="comment">Comment</label>
                            <textarea name="comment" id=""></textarea>
                        </div>
                        <div class="campo enviar">
                            <input type="submit" value="Send" class="btn btn-rosa">
                        </div>
                    </form>
                <% } else { %>
                    <p>Please log in to add a comment</p>
                <% } %>
            </div>
        </div>

        <aside class="informacion">
            <div class="fecha">
                <% const fullDate = meeti.date + ' ' + meeti.time; %>
                <p><%= moment(fullDate).format('LLLL') %></p>
            </div>
            <div class="ubicacion">
                <p><%= meeti.address %>, <%= meeti.city %>, <%= meeti.state %>, <%= meeti.country %></p>
            </div>
            <input type="hidden" id="lat" value="<%= meeti.location.coordinates[0] %>">
            <input type="hidden" id="lng" value="<%= meeti.location.coordinates[1] %>">
            <input type="hidden" id="address" value="<%= meeti.address %>, <%= meeti.city %>, <%= meeti.state %>, <%= meeti.country %>">
            <div id="location"></div>
        </aside>

    </div>
</main>