<main class="contenedor panel-administracion">
    <h1><%= headLine %></h1>

    <div class="contenedor-botones">
        <a href="/group/new" class="btn btn-amarillo">New group</a>
        <a href="/meeti/new" class="btn btn-azul">New meeti</a>
        <a href="/profile/edit" class="btn btn-rosa">Edit Profile</a>
        <a href="/profile/image" class="btn btn-amarillo">Profile Image</a>
    </div>

    <div class="seccion-admin">

        <h2>Next Meeti's</h2>
        <% if(meeties.length){ %>
            <ul>
                <% meeties.forEach(meeti => { %>
                    <li>
                        <div class="informacion-admin">
                            <% const fullDate = meeti.date + ' ' + meeti.time; %>
                            <p class="fecha"><%= moment(fullDate).format('LLLL') %></p>
                            <h3><%= meeti.title %></h3>
                            <small><%= meeti.interested.length %> participants</small>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/meeti/edit/<%= meeti.id %>" class="btn btn-verde">Edit</a>
                            <a href="/meeti/participants/<%= meeti.id %>" class="btn btn-azul2">Participants</a>
                            <a href="/meeti/delete/<%= meeti.id %>" class="btn btn-rojo">Delete</a>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>you don't have any meeti</p>
        <% } %>
    </div>

    <div class="seccion-admin">

        <h2>My Groups</h2>

        <% if(groups.length){ %>
            <ul>
                <% groups.forEach(group => { %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%= group.name %></h3>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/group/edit/<%= group.id %>" class="btn btn-verde">Edit</a>
                            <a href="/group/image/<%= group.id %>" class="btn btn-azul2">Image</a>
                            <a href="/group/delete/<%= group.id %>" class="btn btn-rojo">Delete</a>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>You do not manage any groups</p>
        <% } %>
    </div>

    <div class="seccion-admin">

        <h2>Past Meeti's</h2>
        <% if(pastMeeties.length){ %>
            <ul>
                <% pastMeeties.forEach(meeti => { %>
                    <li>
                        <div class="informacion-admin">
                            <% const fullDate = meeti.date + ' ' + meeti.time; %>
                            <p class="fecha"><%= moment(fullDate).format('LLLL') %></p>
                            <h3><%= meeti.title %></h3>
                            <small><%= meeti.interested.length %> participants</small>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/meeti/edit/<%= meeti.id %>" class="btn btn-verde">Edit</a>
                            <a href="/meeti/participants/<%= meeti.id %>" class="btn btn-azul2">Participants</a>
                            <a href="/meeti/delete/<%= meeti.id %>" class="btn btn-rojo">Delete</a>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>you don't have any past meeti</p>
        <% } %>
    </div>

</main>